.sobre_mi{
    background-color: var(--2-color);
    padding: var(--padding);
    line-height: 1.2rem;
}
.sobre_mi__titulo{
    font-size: var(--titulo);
    padding: 2rem;
    margin-bottom: 0.5rem;
}
.sobre_mi__texto{
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}
.sobre_mi__imagen{
    margin: 0.5rem 0 0;
    padding: 1.5rem;
}

@media only screen and (max-width: 768px) { 
    .sobre_mi__titulo{
        padding: 0 2rem;
        margin-bottom: 0.5rem;
    }
    .sobre_mi__texto{
        padding: 1rem;
    }
    .sobre_mi{
        padding: 1rem 1rem;
    }
    .sobre_mi__imagen{
        margin: 0 0 0 2rem;
        padding: 0.5rem;
    }
}
