:root {
  --1-color: #3be73b;
  --2-color: #2b3035;
  --3-color: #2b3035;

  --5-color: #3be73b;
  --color-letras: #3be73b;

  --btn-color-backg: #3be73b;
  --btn-color-font: #000000;
  --padding: 1rem 7rem;
  --titulo: 2rem;
  --letra-cuerpo: 18px;
}

body {
  color: var(--color-letras);
  font-size: var(--letra-cuerpo);
}

.body {
  background-color: var(--3-color);
}

@media only screen and (max-width: 768px) {
  :root {
    --padding: 1rem 2rem;
    --titulo: 1.5rem;
    --letra-cuerpo: 14px;
  }
  body {
    font-size: var(--letra-cuerpo);
  }
}
@media only screen and (max-width: 425px) {
  :root {
    --padding: 1rem 1rem;
  }
}
